  <!--mini map-->
  <div id="minimap">
  <!--<script type="text/javascript" src="//ra.revolvermaps.com/0/0/8.js?i=0107o8m66de&amp;m=7&amp;c=eeeeee&amp;cr1=fff600&amp;f=arial&amp;l=0&amp;v0=30&amp;z=13&amp;rx=30&amp;lx=380&amp;ly=200&amp;hc=0a65c2&amp;rs=40" async="async"></script>-->
  <script type="text/javascript" src="//ra.revolvermaps.com/0/0/7.js?i=04xsrcfj1ee&amp;m=0c&amp;c=c7bdbd&amp;cr1=fff600&amp;lo=25&amp;oo=15&amp;sx=44&amp;ds=30&amp;cw=f9f9f9&amp;cb=000000" async="async"></script>  </div>
  
