<div class="bg bg-blur" style="background:url('/images/bg/bg-6.jpg');background-position:center"></div>
<%- partial('_partial/masthead') %>
<div class="container">
<%- partial('_partial/comment') %>
</div>
<%- partial('_partial/footer', null, {cache: !config.relative_link}) %>