<div class="bg bg-blur" style="background:url('/images/bg/bg-5.jpg');background-position:center"></div>
<%- partial('_partial/masthead') %>
<div class="container">
<%- partial('_partial/comment') %>
</div>
