/**
 * Custom Bootstrap and Theme Overrides
 *
 * Bootstrap designers: Feel free to remove all of the styles in this
 * file to start a fresh new design. Most of the critical/functional
 * styles are found within the other CSS files, with this one included last.
 *
 * Bootstrap and Hexo markdown style overrides would typically happen here.
 */

/* Globals */

body {
  font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif, Georgia, "Times New Roman", Times, serif;
  color: #555;
  font-size: 16.5px;
  font-weight: blod;
  background-color: #cecbcb0a;
}

h1, .h1{
	font-weight: bold;
}
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0.5em;
  margin-bottom: 15px;
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
  color: #333;
}
.blog-header h1{
	font-family: Comic Sans MS, Helvetica;
}

p {
  margin: 0 0 15px;
}

code {
  background-color: #eeeeee;
  font-size: 80%;
}
.table{
	margin-bottom: 0px;
}

.table-responsive{
	border-radius:0px;
	background-color:#1C1E1F;
}
.table-container .table-responsive{
	background-color:rgba(0, 0, 0, 0.0);
	border-bottom: 2px solid #000000;
	border-radius: 0px;
	margin-bottom: 8px;
}

.table-container .table-responsive .table>thead>tr>th{
	border-bottom: 2px solid #000000;
	border-top: 3px solid #000000;
}

.table-container .table-responsive .table>thead>tr>td{
	border-top: 1px dotted #ddd;
}

.fa { margin-right: 0.25em; }

/* Buttons */
.btn {
  border-radius: 30px;
}
.btn-primary {
  background-color: #428bca;
  border-color: #337ab7;
}
.nav-pills>li>a {
  border-radius: 30px;
}

/* Override Bootstrap's default container width */
@media (min-width: 1200px) {
  .container {

  }
}

/*
 * Masthead for nav
 */

.navbar {
position:fixed;
width: 100%;
background-color: hsla(0, 7%, 77%, 0.5);
-webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
text-align: center;
min-height:fit-content;
}

.navbar-nav li{
	float: left;
}

.navbar-light .active>.nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show>.nav-link
{
	color:#f7f7f79c;
}

.navbar-inverse .navbar-nav>.active>a{
	background-color: #00000000;
}

nav.navbar .navbar-inverse .navbar-fixed-top{
	height: 40px;
}

.navbar-inverse { border: 0; }

.navbar-inverse .navbar-toggle {
  border-color: #cdddeb;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #cdddeb;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background-color: #65A2D6;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
	
  color: #ffffffcc;
  font-weight: 500;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #cdddeb;
}

.navbar-inverse .navbar-nav>li>a.active {
  color: #fff;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0;
    max-height: 30px;
  }

  /** The following may need modification depending on
      the size of your `navbar-brand` (if enabled) */
  #main-menu-navbar {
    margin-left: -30px;
  }

  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /** ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

  .navbar-inverse .navbar-nav>li>a.active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
  }
}

/*
 * Blog header and description
 */

.blog-header {
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}

/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}
.blog-main > article:last-of-type {
  margin-bottom: 30px;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module h4 {
  margin-top: 0;
  margin-bottom: 10px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f53d;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

.sidebar-module-list {
  padding-left: 0;
  list-style: none;
}
.sidebar-module-list-child {
  padding-left: 25px;
}


/*
 * Blog posts
 */


.article {
  margin-bottom: 60px;
}
.article-header {
	text-align: center;
	
}

.article-header h1 {
  font-size: 42px;
  margin-top: 15px;
  margin-bottom: 5px;
}
.article-header h1 a {
  color: #333;
}
.article-header h1 a:hover {
  color: #23527c;
  text-decoration: none;
}

.article-meta {
  margin-bottom: 15px;
  color: #999;
  font-size: 0.9em;
}
.article-meta > * {
  display: inline-block;
  margin-right: 15px;
}
.article-meta a {
  color: inherit;
}

.article-entry .article-more-link {
  margin: 15px 0;
}
.article-entry .thumbnail .caption {
  padding: 0;
}
.article-entry>*:last-child {
  margin-bottom: 15px;
}

/* article footer content */
.article-footer {
  font-size: 0.85em;
  border-top: 1px solid #eee;
  padding-top: 15px;
}
.article-footer:after { /* clearfix */
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.article-footer a {
  color: #999;
  text-decoration: none;
}
.article-footer a:hover {
  color: #666;
  text-decoration: underline;
}

/*
 * Archives
 */

.archives-wrap {
  margin-bottom: 30px;
}

.archive-year-wrap a,
.archive-article .article-datetime a {
  color: #333;
  text-decoration: none;
}

.archive-article .article-datetime a {
  color: #999;
  text-decoration: none;
  
}

/*
 * Pagination
 */
#page-nav {
  text-align: center;
}
#page-nav .pagination {
  margin-top: 0;
  margin-bottom: 30px;
}
#page-nav .pagination .active>* {
  background-color: #428bca;
  border-color: #428bca;
}

#page-nav .pagination>li:first-child>* {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.pagination>.disabled>a, 
.pagination>.disabled>a:focus, .pagination>.disabled>a:hover, 
.pagination>.disabled>span, .pagination>.disabled>span:focus, 
.pagination>.disabled>span:hover
{
	color:#777;
	cursor: not-allowed;
	background-color: #fff;
	border-color: #ddd;
	
}


/*
 * Footer
 */

.blog-footer {
  padding: 25px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}


/*
 * TOC
 */
#article-toc-inner:after,#article-toc-inner:before,.inner:after,.inner:before {
    content: "";
    display: table
}

#article-toc-inner:after,.inner:after {
    clear: both
}

@media screen {
    #article-toc-inner,.inner {
        padding: 0 0px
    }
}
#article-toc {
    display: none;
    float: left;

    margin-right: -0px;
    opacity: .75;
	
	font-size: 12px;
	margin-left: -150px;
}
@media screen and (min-width:769px) {
    #article-toc {
        display: block
    }
}
#article-toc.fixed {
	width: 120px;
    top: 0;
    bottom: 0;
    right: 0px;
}
.fixed #article-toc-inner {
	margin-top: 130px;
	margin-left: -40px;
    position: fixed;
	width: 120px;
    top: 0;
    bottom: 0;

}
#article-toc-inner ol {
    margin-left: -28px;
}



/*
* toTop
*/
@media screen and (min-width:769px){
p#back-to-top 
{
		position: fixed;
		bottom: 54px;
		right: 12px;
}

p#back-to-top a {
	text-align: center;
	text-decoration: none;
	/* color: ; */
	display: block;
	width: 64px;
	/*使用CSS3中的transition属性给跳转链接中的文字添加渐变效果*/
	-moz-transition: color 1s;
	-webkit-transition: color 1s;
	-o-transition: color 1s;
}
p#back-to-top a:hover {
	filter:alpha(opacity=50);  
    -moz-opacity:0.5;  
    -khtml-opacity: 0.5;  
	opacity: 0.5;
}
p#back-to-top a span {
	background:  url(/images/back_to_top.png) no-repeat center center;
	border-radius: 6px;
	display: block;
	height: 64px;
	width: 64px;
	margin-bottom: 5px;
	  /*使用CSS3中的transition属性给<span>标签背景颜色添加渐变效果*/
	-moz-transition: background 1s;
	-webkit-transition: background 1s;
	-o-transition: background 1s;
}

#back-to-top a:hover span {
	background: url(/images/back_to_top.png) no-repeat center center;
}
}

/*
* post-meta
* time cost, word-count, etc.
*/
.post-mata {
  
}

/*
* avatar-logo
*/
#avatar-logo{
	float: left;
	max-width: 150px;
	width: 100%;
	border:2px solid transparent;
	margin-bottom:10px;
	border-radius: 30px;
	margin-right: 20px;
	border: 2px solid;
}

/*
*	pin-to-top
*/
span.ping-to-top{
	font-size: 24px;
	color: #428BCA;
	font-weight: 800;
}

/*
*	icon-font http://www.iconfont.cn/help/detail?spm=a313x.7781069.1998910419.d8cf4382a&helptype=code
*/
@font-face {
  font-family: 'iconfont';  /* project id 779878 */
  src: url('//at.alicdn.com/t/font_779878_5q1k0c97qme.eot');
  src: url('//at.alicdn.com/t/font_779878_5q1k0c97qme.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_779878_5q1k0c97qme.woff') format('woff'),
  url('//at.alicdn.com/t/font_779878_5q1k0c97qme.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_779878_5q1k0c97qme.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:inherit;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

/*
* minimap
*/
#minimap{
	max-height: 360px; 
	max-width: 360px; 
	margin: 0px auto;
}
/*
* .jumbotro override
*/



#links{
    padding-top: 2px;
    padding-bottom: 4px;
}

#links>li>a{
 color: #337ab7;
}

.bg {
	background: url('/images/bg/bg-2.jpg');
	height:128px;
	text-align: center;
	line-height: 128px;
	margin-top: 0px;
	padding-bottom: 20px;
	margin-top: 0px;
	margin-bottom: 18px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.bg-blur {

	filter: blur(8px);
}
.content-in-bg {
  /* position:absolute; */
  /* left: 0px; */
  /* right: 0px; */
  /* height:140px; */
  /* line-height: 140px; */
  /* text-align: center; */
}


#site_search{
	background-color: #FFFFFF;
	padding: 1em;
}

#site_search>input{
	width: 100%;
}

.translate-article{
	float: right;
	margin-top: 30px;
	line-height: 3px;
	margin-left: 16px;
	margin-right: 4px;
}

.translate-article .sidebar-module h4{
	font-size:12px;
}


/*
* article-wrapper
*/
@media screen and (max-width:768px){
.article-wrapper{
	width:100%;
	margin: 15px auto 13px;
	padding: 15px 20px 15px;
	border: solid 0px blue;
	
	-moz-box-shadow:0px 0px 20px #858585; -webkit-box-shadow:0px 0px 20px #858585; box-shadow:0px 0px 20px #858585;
}	

}
@media screen and (min-width:768px){
	.article-wrapper{
	width:100%;
	margin: 20px auto 30px;
	padding: 30px 50px 30px;
	border: solid 0px blue;
	-moz-box-shadow:0px 0px 20px #858585; -webkit-box-shadow:0px 0px 20px #858585; box-shadow:0px 0px 20px #858585;
	}
}

.article-wrapper>article .article-header .article-title{
	padding-bottom: 5px;
}

.article-wrapper>article .article-inner {
	margin-top: 15px;
}

.header-divider{
	border-bottom: 1.2px dotted #b5b1b1;
	margin: 10px auto;
}


@page {
   @bottom-left {
		content: counter(page) "/" counter(pages);
	}
 }
 
 
 
.dataframe.table{
	background-color: white;
	color: black;
	border-radius: 0px;
	padding: 1px;
}