/**
 * Custom Bootstrap and Theme Overrides
 *
 * Bootstrap designers: Feel free to remove all of the styles in this
 * file to start a fresh new design. Most of the critical/functional
 * styles are found within the other CSS files, with this one included last.
 *
 * Bootstrap and Hexo markdown style overrides would typically happen here.
 */

/* Globals */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 1em;
  margin-bottom: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

p {
  margin: 0 0 15px;
}

code {
  background-color: #eeeeee;
  font-size: 80%;
}

.fa { margin-right: 0.25em; }

/* Buttons */
.btn {
  border-radius: 30px;
}
.btn-primary {
  background-color: #428bca;
  border-color: #337ab7;
}
.nav-pills>li>a {
  border-radius: 30px;
}

/* Override Bootstrap's default container width */
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

/*
 * Masthead for nav
 */

.navbar {
	position:fixed;
	width: 100%;
  background-color: hsla(0, 1%, 41%, 0.50);
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

.navbar-nav>li>a {
	 text-align: center;
	color:#f7f7f79c;
}

.navbar-inverse { border: 0; }

.navbar-inverse .navbar-toggle {
  border-color: #cdddeb;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #cdddeb;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background-color: #65A2D6;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
	
  color: #cdddeb;
  font-weight: 500;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #cdddeb;
}

.navbar-inverse .navbar-nav>li>a.active {
  color: #fff;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0;
    min-height: 40px;
  }

  /** The following may need modification depending on
      the size of your `navbar-brand` (if enabled) */
  #main-menu-navbar {
    margin-left: -30px;
  }

  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /** ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

  .navbar-inverse .navbar-nav>li>a.active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
  }
}

/*
 * Blog header and description
 */

.blog-header {
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}

/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}
.blog-main > article:last-of-type {
  margin-bottom: 30px;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module h4 {
  margin-top: 0;
  margin-bottom: 10px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f53d;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

.sidebar-module-list {
  padding-left: 0;
  list-style: none;
}
.sidebar-module-list-child {
  padding-left: 25px;
}


/*
 * Blog posts
 */

.article {
  margin-bottom: 60px;
}

.article-header h1 {
  margin-top: 0;
  margin-bottom: 5px;
}
.article-header h1 a {
  color: #333;
}
.article-header h1 a:hover {
  color: #23527c;
  text-decoration: none;
}

.article-meta {
  margin-bottom: 20px;
  color: #999;
  font-size: 0.9em;
}
.article-meta > * {
  display: inline-block;
  margin-right: 15px;
}
.article-meta a {
  color: inherit;
}

.article-entry .article-more-link {
  margin: 15px 0;
}
.article-entry .thumbnail .caption {
  padding: 0;
}
.article-entry>*:last-child {
  margin-bottom: 15px;
}

/* article footer content */
.article-footer {
  font-size: 0.85em;
  border-top: 1px solid #eee;
  padding-top: 15px;
}
.article-footer:after { /* clearfix */
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.article-footer a {
  color: #999;
  text-decoration: none;
}
.article-footer a:hover {
  color: #666;
  text-decoration: underline;
}

/*
 * Archives
 */

.archives-wrap {
  margin-bottom: 30px;
}

.archive-year-wrap a,
.archive-article .article-datetime a {
  color: #333;
  text-decoration: none;
}

.archive-article .article-datetime a {
  color: #999;
  text-decoration: none;
  
}

/*
 * Pagination
 */
#page-nav {
  text-align: center;
}
#page-nav .pagination {
  margin-top: 0;
  margin-bottom: 30px;
}
#page-nav .pagination .active>* {
  background-color: #428bca;
  border-color: #428bca;
}
#page-nav .pagination>li:last-child>* {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
#page-nav .pagination>li:first-child>* {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

/*
 * Footer
 */

.blog-footer {
  padding: 25px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}


/*
 * TOC
 */
#article-toc-inner:after,#article-toc-inner:before,.inner:after,.inner:before {
    content: "";
    display: table
}

#article-toc-inner:after,.inner:after {
    clear: both
}

@media screen {
    #article-toc-inner,.inner {
        padding: 0 0px
    }
}
#article-toc {
    display: none;
    float: right;
    width: 17%;
    margin-right: -0px;
    opacity: .75
}
@media screen and (min-width:769px) {
    #article-toc {
        display: block
    }
}
#article-toc.fixed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0px;
    padding-top: 100px;
}
.fixed #article-toc-inner {
    position: fixed;
    width: 220px;
    top: 0;
    bottom: 0;
    margin-top: 200px;
}
#article-toc-inner ol {
    margin-left: -16px;
}



/*
* toTop
*/
@media screen and (min-width:769px){
p#back-to-top 
{
		position: fixed;
		bottom: 54px;
		right: 12px;
}

p#back-to-top a {
	text-align: center;
	text-decoration: none;
	/* color: ; */
	display: block;
	width: 64px;
	/*使用CSS3中的transition属性给跳转链接中的文字添加渐变效果*/
	-moz-transition: color 1s;
	-webkit-transition: color 1s;
	-o-transition: color 1s;
}
p#back-to-top a:hover {
	filter:alpha(opacity=50);  
    -moz-opacity:0.5;  
    -khtml-opacity: 0.5;  
	opacity: 0.5;
}
p#back-to-top a span {
	background:  url(/images/back_to_top.png) no-repeat center center;
	border-radius: 6px;
	display: block;
	height: 64px;
	width: 64px;
	margin-bottom: 5px;
	  /*使用CSS3中的transition属性给<span>标签背景颜色添加渐变效果*/
	-moz-transition: background 1s;
	-webkit-transition: background 1s;
	-o-transition: background 1s;
}

#back-to-top a:hover span {
	background: url(/images/back_to_top.png) no-repeat center center;
}
}

/*
* post-meta
* time cost, word-count, etc.
*/
.post-mata {
  
}

/*
* avatar-logo
*/
#avatar-logo{
	max-width: 150px;
	width: 100%;
	border:2px solid transparent;
	margin-bottom:10px;
}

/*
*	pin-to-top
*/
span.ping-to-top{
	font-size: 24px;
	color: #428BCA;
	font-weight: 800;
}

/*
*	icon-font http://www.iconfont.cn/help/detail?spm=a313x.7781069.1998910419.d8cf4382a&helptype=code
*/
@font-face {
  font-family: 'iconfont';  /* project id 779878 */
  src: url('//at.alicdn.com/t/font_779878_uxdiynlxpd.eot');
  src: url('//at.alicdn.com/t/font_779878_uxdiynlxpd.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_779878_uxdiynlxpd.woff') format('woff'),
  url('//at.alicdn.com/t/font_779878_uxdiynlxpd.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_779878_uxdiynlxpd.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:inherit;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

/*
* minimap
*/
#minimap{
	max-height: 360px; 
	max-width: 360px; 
	margin: 0px auto;
}
/*
* .jumbotro override
*/



#links{
    padding-top: 2px;
    padding-bottom: 4px;
}

#links>li>a{
 color: #337ab7;
}

.bg {
	background: url('/images/bg/bg-2.jpg');
	height:128px;
	text-align: center;
	line-height: 128px;
	margin-top: 0px;
	padding-bottom: 20px;
	margin-top: 0px;
	margin-bottom: 18px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.bg-blur {

	filter: blur(10px);
}
.content-in-bg {
  /* position:absolute; */
  /* left: 0px; */
  /* right: 0px; */
  /* height:140px; */
  /* line-height: 140px; */
  /* text-align: center; */
}


#site_search{
	background-color: #FFFFFF;
	padding: 1em;
}

#site_search>input{
	width: 100%;
}