<footer class="article-footer">
  <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="article-share-link">
	<i class="fa fa-share"></i> Share
  </a>
  <% if (post.comments && config.disqus_shortname){ %>
	<a href="<%- post.permalink %>#disqus_thread" class="article-comment-link">
	  <i class="fa fa-comment"></i> Comments
	</a>
  <% } %>
  <%- partial('post/tag') %>
</footer>