
<footer class="blog-footer">  
  <div class="container">
		<div >
	 <ul id="links" class="nav navbar-nav" style="display: inline-block;float: none;">
		<li><a href="https://weibo.com/liuqidev" title="Find me on Weibo" target="_blank"><i class="iconfont">&#xe655;</i></a></li>
		<li><a href="https://www.zhihu.com/people/wizardlq/" title="Find me on Zhihu" target="_blank"><i class="iconfont">&#xe61b;</i></a></li>
		<li><a href="https://blog.csdn.net/icurious" title="Find me on CSDN" target="_blank"><i class="iconfont">&#xe64f;</i></a></li>
		<li><a href="https://www.douban.com/people/icurious/" title="My Douban" target="_blank"><i class="iconfont">&#xe601;</i></a></li>
		<li><a href="https://space.bilibili.com/20204877/#/" title="Find me on Bilibili" target="_blank"><i class="iconfont">&#xe6b4;</i></a></li>
		<li><a href="https://github.com/liuqidev" title="My Linkedin" target="_blank"><i class="iconfont">&#xe663;</i></a></li>
		<li><a href="https://github.com/liuqidev" title="My Projects on Github" target="_blank"><i class="iconfont">&#xe7ab;</i></a></li>
		<li><a href="https://stackoverflow.com/users/9121113/qi-liu" title="My StackoverFlow" target="_blank"><i class="iconfont">&#xe711;</i></a></li>
		
		<% if (theme.rss){ %>
		  <li><a href="<%- theme.rss %>" title="RSS Feed"><i class="fa fa-rss" target="_blank"></i></a></li>
		<% } %>
	  </ul>
	 </div>
    <div id="footer-info" class="text-center">
        &copy; <%= date(new Date(), 'YYYY') %>. <em>All Rights Reserved by <a href="https://github.com/liuqidev" target="_blank"><%= config.author || config.title %></a></em><br>	
	</div>
	<div > 

	  </links>
  </div>

  
    <script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js">
  <script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?d=XzXyQ1GOPdnOuiMHQmBZKolTWTBtRkFzmBoniAwXpMc&cl=ffffff&w=a"></script>

  <p>
  	<span id="busuanzi_container_site_uv">
  	    <span id="busuanzi_value_site_uv"></span> visitors  |  
  	</span>

      <span id="busuanzi_container_site_pv">
         <span id="busuanzi_value_site_pv"></span> visits
      </span>
	  
  </p>
    


</footer>

